{{ define "pageTitle" }}Register{{ end }}

{{ define "content" }}
<h1>Register</h1>
<div class="container">
    <form action="/register-handle" method="post">
        <input name="token_beegek" type="hidden" value="{{ .CsrfToken }}">

        <label for="username">Usuario:</label><br>
        <input id="username" name="username" type="text" placeholder="John"><br><br>
        <label for="password">Contraseña:</label><br>
        <input id="password" name="password" type="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{{ end }}
